* {font-family:sans-serif;}
h2 {padding:10px;margin:0;}

input~input[type=text] {width:40px;border:1px solid #999;vertical-align:3px}
input[type=checkbox]{vertical-align:-5%;margin:0px 5px}
input[type=number]{width:50px;}

label:hover{color:#4a6071}

video{max-width:100%;transform:scaleX(-1)}
canvas{max-width:100%; max-height:320px}
svg{position:fixed; left:320px; top:10px}
form{padding:5px; line-height:2em}

#sidebar {width:300px;background:#dfedf7}

#msgbox{position:fixed; left:320px; bottom:20px; padding:6px}
#msgbox:not(:empty) {background:rgba(255,255,255,0.8)}

#tabbar {background:#c3d7e5;}
#tabbar button{margin:0}
#tabbar button.active{background:#99afbf}

button{cursor:pointer; border:0;padding:5px 10px;margin:0 20px}
button{background:#c3d7e5;outline:none;font-weight:bold;color:#2f404d}
button:hover{background:#5d90bc !important;color:#fff}

#webcam{display:none}
#imgselect,#webcam {text-align:justify;text-align-last:justify}

#algoSelect{background:#d2e4f0;margin:5px 0;border:solid #5d90bc;border-width:2px 0 2px 0}

a:hover{color:red}

canvas{ /* checkerboard pattern */ 
  background-color: #f8f8f8;
  background-image: 
    linear-gradient(45deg, #e0e0e0 25%, transparent 25%, transparent 75%, #e0e0e0 75%, #e0e0e0),
    linear-gradient(45deg, #e0e0e0 25%, transparent 25%, transparent 75%, #e0e0e0 75%, #e0e0e0);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
}